
@{
    ViewData["Title"] = "Index";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<h3 class="alert alert-primary"> Ajax Ürün İşlemleri</h3>
<button id="btnlist" class="btn btn-outline-danger">Ürün Listesi</button>
<button id="btncreate" class="btn btn-outline-primary">Ürün Ekle</button>
<button id="btndelete" class="btn btn-outline-info">Ürün Sil</button>
<button id="btnupdate" class="btn btn-outline-success">Ürün Güncelle</button>
<button id="btnget" class="btn btn-outline-warning">Ürün Getir</button>

<hr />

<div class="alert alert-dark">Ürün Listesi</div>
<div id="productlist">
</div>
<hr />

<div class="alert alert-dark">Yeni Ürün Girişi</div>
<div>
    <input type="text" placeholder="Ürün Adını Giriniz" id="ProductName" class="form-control" />
    <br />
    <input type="text" placeholder="Ürün Stok Sayısını Giriniz" id="Stock" class="form-control" />
    <br />
    <input type="text" placeholder="Ürün Fiyatını Giriniz" id="Price" class="form-control" />
    <br />
</div>
<hr />

<div class="alert alert-dark">Ürün Silme Ekranı</div>
<div>
    <input type="text" placeholder="Silinecek Ürünün Id Değerini Giriniz" id="ProductId" class="form-control" />
    <br />
</div>
<hr />

<div class="alert alert-dark">Ürün Detaylarını Getirme Ekranı</div>
<div>
    <input type="text" placeholder="Bilgisi Getirilecek Ürünün Id Değerini Giriniz" id="productgetid" class="form-control" />
    <br />
</div>
<hr />

<div class="alert alert-dark"> Ürün Güncelleme Paneli</div>
<div>
    <input type="text" placeholder="Güncellenecek Ürünün Id Değerini Giriniz" id="productıdedit" class="form-control" />
    <br />
    <input type="text" placeholder="Güncellenecek Ürünün Adını Giriniz" id="productnameedit" class="form-control" />
    <br />
    <input type="text" placeholder="Güncellenecek Ürünün Stok Sayısını Giriniz" id="productstockedit" class="form-control" />
    <br />
    <input type="text" placeholder="Güncellenecek Ürünün Fiyatını Giriniz" id="productpriceedit" class="form-control" />
    <br />
</div>

<script>

    $("#btnlist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Default/ProductList/",
            success: function (funk1) {
                let products = jQuery.parseJSON(funk1);
                console.log(products);
                let tablehtml = "<table class=table table-bordered>"
                    + "<tr>"
                    + "<th>Ürün Id</th>"
                    + "<th>Ürün Adı</th>"
                    + "<th>Ürün Fiyat</th>"
                    + "<th>Ürün Stok</th>"
                    + "</tr>"
                $.each(products, (index, value) => {
                    tablehtml += `<tr>`
                        + `<td>${value.ProductId}</td>`
                        + `<td>${value.ProductName}</td>`
                        + `<td>${value.Price}</td>`
                        + `<td>${value.Stock}</td>`
                        + `</tr>`
                });
                tablehtml += "</table>";
                $("#productlist").html(tablehtml);
            }
        });
    });

    $("#btncreate").click(function () {
        let productvalues = {
            ProductName: $("#ProductName").val(),
            Stock: $("#Stock").val(),
            Price: $("#Price").val()
        };

        $.ajax({
            type: "post",
            url: "/Default/CreateProduct/",
            data: productvalues,
            success: function (funk2) {
                let result = jQuery.parseJSON(funk2);
                swal("Tebrikler!", "Ürün Başarıyla Eklendi!", "Başarılı");
            }
        });
    });

    $("#btndelete").click(function () {
        let id = $("#ProductId").val();
        $.ajax({
            url: "/Default/DeleteProduct/" + id,
            type: "post",
            contentType: "application/json",
            dataType: "json",
            success: function (funk3) {
                swal("Ürün başarıyla silindi")
            }

        });
    });

    $("#btnget").click(function () {
        let id = $("#productgetid").val();
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            url: "/Default/GetProduct/" + id,
            success: function (funk4) {
                let result = jQuery.parseJSON(funk4);
                console.log(result);
            }
        });
    });

    $("#btnupdate").click(function () {
        let values = {
            ProductId: $("#productıdedit").val(),
            ProductName: $("#productnameedit").val(),
            Stock: $("#productstockedit").val(),
            Price: $("#productpriceedit").val(),


        };
        $.ajax({
            url: "/Default/UpdateProduct/",
            data: values,
            success: function (funk5) {
                swal("Ürün başarıyla Güncellendi")
            }

        });
    });

</script>